<h1>La page profil</h1>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User : <%= @user.first_name %>
<br/><br/><br/>
<p>Pour changer t'es infos clique ici :<%= link_to "Changer mes infos", edit_user_registration_path, class: "btn btn-primary"  %>
<h3>Avatar actuel</h3>
<br/><br/><br/>
<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<% else %>
  <p>=== Il n'y a pas encore d'avatar lié a cet utilisateur ===</p>
<% end %>

<%= form_tag do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "uploader l'avatar" %>
<% end %>

